
.swiper-div {
	height: 4.81rem;
	padding: .4rem 0 .61rem;
	background: #fff;
	overflow: hidden;
	width: 100%;
}

.swiper-container {
	height: 100%;
	overflow: visible;
}

.swiper-slides {
	width: 9.2rem!important;
	padding: 0 .08rem;

}

.banner_link,.banner_img {
	width: 100%;
	height: 100%;
	display: block;
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
	bottom: -.4rem;
	height: .61rem;
	line-height: .61rem;
}

.swiper-pagination-bullet {
	width: .13rem;
	height: .13rem;
}

.swiper-pagination-bullet-active {
	width: .46rem;
	height: .13rem;
	background: #ee1c23;
	border-radius: 30%;
}

.content_title {
	height: 1.19rem;
	line-height: 1.19rem;
	font-size: .4rem;
}

.hot_title {
	height: .43rem;
	width: .33rem;
	margin-right: .19rem;
	margin-top: -.1rem;
}




.live_title_div {
	height: 1.18rem;
	line-height: 1.18rem;
	border-bottom: 1px solid #eee;
}

.select_live_type p {
	position: absolute;
	width: 100%;
	height: .05rem;
	bottom: -1px;
	left: 0;
	background: #ee1c23;
}




.belong_img {
	width: .41rem;
	height: .41rem;
	margin:-.1rem  .24rem 0 0;
}

.iscrolls {
	height: 1.55rem;
	line-height: 1.55rem;
	font-size: .32rem;
	color: #333;
	overflow: hidden;
	border-bottom: 1px solid #eee;
}

.swiper-container01,.swiper-container02 {
	height: 100%;
	line-height: 100%;
}
.swiper-container01 .scroll_li_live,.swiper-container02 .scroll_li_live {
	display: inline-block;
	padding: 0 .5rem;
	background: #efeef2;
	color: #333;
	height: .71rem;
	line-height: .71rem;
	text-align: center;
	border-radius: .5rem;
	margin-right: .32rem!important;
	width: auto!important;
}
.swiper-container01 .swiper-wrapper,.swiper-container02 .swiper-wrapper {
	height: 100%;
	line-height: 100%;
	display: flex;
    align-items: center;
}
.swiper-container01 .swiper-pagination,.swiper-container02 .swiper-pagination {
	display: none;
}

.swiper-container01 .scroll_li_live_select,.swiper-container02 .scroll_li_live_select {
	display: inline-block;
	padding: 0 .5rem;
	height: .71rem;
	line-height: .71rem;
	background: #ee1c23;
	color: #fff;
	text-align: center;
	border-radius: .5rem;
	margin-right: .32rem;
}

.scroll_li_live:last-child {
	margin-right: 0;
}

.iscrolls_belong {
	display: none;
}

.content_divs {
	padding-bottom: .4rem;
}

.newway_img_div {
	height: 4.81rem;
	position: relative;
}
.newway_img_div img {
	width: 100%;
	height: 100%;
}

.live_status {
	padding: 0 .24rem 0  .34rem;
	position: absolute;
	right: 0;
	top: .4rem;
	height: .74rem;
	line-height: .74rem;
	font-size: .3rem;
	color: #fff;
	border-bottom-left-radius: .5rem;
	border-top-left-radius: .5rem;
}

.status_color1 {
	background-color: #ff7205;
}
.status_color2 {
	background-color: #ee1c23;
}
.status_color3 {
	background-color: #aaa;
}
.status_color4 {
	background-color: #3bbb3d;
}

.live {
	height: .94rem;
	line-height: .94rem;
	padding-left: .62rem;
	position: absolute;
	left: 0;
	bottom: 0;
	font-size: .29rem;
	color: #fff;
}
.live span {
	width: .13rem;
	height: .13rem;
	border-radius: 50%;
	background-color: #ee1c23;
	display: inline-block;
	position: absolute;
	left: .4rem;
	top: .41rem;
}

.live_detail {
	padding: .3rem 0 .48rem;
}

.live_detail_title1 {
	height: .4rem;
	line-height: .4rem;
	font-size: .4rem;
	color: #333;
	margin-bottom: .24rem;
}

.live_detail_title2 {
	height: .32rem;
	line-height: .32rem;
	font-size: .32rem;
	color: #999;
}

.live_lists_other {
	display: none;
}

.belong_left {
	float: left;
	position: relative;
}

.belong_right {
	float: right;
	width:60%;
	padding-top: .16rem;
}

.belong_left_img1{
	height: 2.05rem;
	width: 3.21rem;

}

.belong_list {
	padding-bottom: .4rem;
}

.belong_right01 {
	font-size: .4rem;
	height: .4rem;
	line-height: .4rem;
}

.belong_right02,.belong_right03{
	font-size: .32rem;
	height: .32rem;
	line-height: .32rem;
}

.belong_right02 {
	color: #666;
	padding: .29rem 0 .48rem;
}

.belong_right03 {
	color: #999;
}

.belong_img_img {
	position: absolute;
	bottom: .24rem;
	left: .24rem;
	width: .47rem;
	height: .47rem;
}


