
<!--CC 视频上传组件 开始-->
<div class="col-md-6">
    <div class="form-group">
        <label>选择文件</label>
        <span class="">（选择上传的文件）</span>
        <div class="input-group">
            <input class="pull-right form-control"id="videofile" name="videofile" placeholder="文件名称" type="text" readonly>
            <style>.input-group-btn {position: relative;}.input-group-btn embed {position: absolute;z-index: 20;}</style>
            <div class="input-group-btn">
                <div id="swfDiv" style="*position: absolute;z-index: 20;"></div>
                <button type="button" class="btn btn-default" style="width: 80px; height: 34px;"><i class="fa fa-folder-open"></i></button>
            </div>
        </div>
    </div>
</div>

<div class="col-md-6">
    <div class="form-group">
        <label>视频编号</label>
        <span class="">（CC平台，视频id）</span>
        <input class="form-control" id="_videoid" name="{$widget_data['name']}" value="{$widget_data['value']}" type="text" placeholder="视频编号 videoid" readonly />
    </div>
</div>

<div class="col-md-6">
    <div class="form-group">
        <label>进度</label>
        <span class="">（视频上传进度）</span>
        <span id="up">0 %</span>
        <div class="input-group">
            <div id="progressbar">
                <div id="progress"></div>
            </div>
            <div class="input-group-btn">
                <button type="button" class="btn ladda-button" data-style="slide-up" target-form="form_single" onclick="submitvideo();">
                    <span class="ladda-label"><i class="fa fa-arrow-up"></i> 上传视频</span>
                </button>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="__STATIC__/widget/admin/bokecc/default.css">
<script type="text/javascript" src="__STATIC__/widget/admin/bokecc/swfobject.js"></script>
<script type="text/javascript">
    // 加载上传flash
    var swfobj = new SWFObject('__STATIC__/widget/admin/bokecc/uploader.swf', 'uploadswf', '80', '34', '8');
    swfobj.addVariable("progress_interval", 1);	//	上传进度通知间隔时长（单位：s）
    swfobj.addVariable("notify_url", "{$notify_url}"); //	上传视频后回调接口
    swfobj.addParam('allowFullscreen', 'true');
    swfobj.addParam('allowScriptAccess', 'always');
    swfobj.addParam('wmode', 'transparent');
    swfobj.write('swfDiv');

    //	功能：选中上传文件，获取文件名函数
    //	说明：用户可以加入相应逻辑
    function on_spark_selected_file(filename) {
        $("#videofile").val(filename);
    }

    //	调用者：flash
    //	功能：验证上传是否正常进行函数
    //	说明：用户可以加入相应逻辑
    function on_spark_upload_validated(status, videoid) {
        if (status == "OK") {
            console.log(videoid);
            $("#_videoid").val(videoid);
        } else if (status == "NETWORK_ERROR") {
            toast.error("网络错误");
            return false;
        } else {
            toast.error('api错误码：'+ status);
            return false;
        }
    }

    //	调用者：flash
    //	功能：通知上传进度函数
    //	说明：用户可以加入相应逻辑
    function on_spark_upload_progress(progress) {
        if (progress == -1) {
            $("#up").text("上传出错");
        } else if (progress == 100) {
            $("#up").text("100% 上传完成");
            $("#progress").width("100%");
        } else {
            $("#up").text(progress + "%");
            $("#progress").width(progress + "%");
        }
    }

    //	控制上传
    function submitvideo() {
        var title = encodeURIComponent($('#name').val(), "utf-8");
        var tag = encodeURIComponent($('#category_id option:selected').text(), "utf-8");
        var description = encodeURIComponent($('#describe').text(), "utf-8");
        if(title == ""){
            toast.error('请填写标题');
            return false;
        }
        if(tag == ""){
            toast.error('请选择分类');
            return false;
        }
        if(description == ""){
            toast.error('请填写简介');
            return false;
        }

        $.ajax({
            type: "GET",
            url: "{:url('File/getUploadUrl')}?title=" + title + "&tag=" + tag + "&description=" + description,
            success: function (json) {
                //	调用flash上传函数
                console.log(json);
                document.getElementById("uploadswf").start_upload(json.query);
            }
        });
    }
</script>
<!--CC 视频上传组件 结束-->
